/* W E L C O M E   P A G E */
.welcome{
  position: relative;
  top: 50px;
  color: #ffffff;
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 55px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
  text-shadow: horizontal-offset vertical-offset blur color;
}
.SingleplayerButton{
  border-radius: 4px;
  color: #000000;
  right: 60px;
  font-size: 25px;
  position: relative;
  top: 20px;
  background: rgb(251, 251, 251);
  padding: 10px 20px 10px 20px;
  border: none;
}


.MultiplayerButton{
  border-radius: 4px;
  color: #000000;
  left: 60px;
  font-size: 25px;
  position: relative;
  top: 20px;
  background: rgb(251, 251, 251);
  padding: 10px 20px 10px 20px;
  border: none;
}
.SingleplayerButton:hover, .MultiplayerButton:hover {
  background: rgb(229, 228, 228);
}

/* S H I P   P L A C E M E N T */
.ships, .readyBtn{
  border-radius: 4px;
  color: #000000;
  /* right: 60px; */
  font-size: 15px;
  position: relative;
  top: 20px;
  background: rgb(251, 251, 251);
  padding: 10px 20px 10px 20px;
  border: none;
  margin-right: 8px;
}
.ships:hover, .readyBtn:hover {
  background: rgb(229, 228, 228);
}

.boardTitle {
  position: relative;
  top: 20px;
  bottom: 30px;
  color: #ffffff;
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 60px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
  text-shadow: horizontal-offset vertical-offset blur color;
}

.shipPlacement-PlayerBoard {
  width: 450px;
  height: 450px;
  border: 1.5px solid black;
  margin: 1em 2em 2em 1em;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  box-shadow: 0 10px 60px rgb(0 0 0 / 0.4);
}

/* G A M E */
.board {
  width: 300px;
  height: 300px;
  border: 1.5px solid black;
  margin: 1em 2em 2em 1em;
  display: flex;
  flex-wrap: wrap;
  margin: auto;

}

row {
display: flex;
margin: auto;
padding-bottom: 10px;
}

column {
flex:50%;
margin: auto
}

.square {
  width: 14.28%;
  height: 14.28%;
  box-sizing: border-box;
  background: skyblue;
  border: 1px solid black;
  cursor: crosshair;
  transition: background-color 100ms ease-in-out;
}

.player.ship2, .shipPlacement-PlayerBoard {
  background: rgb(107, 103, 103);
}
.player.ship31, .shipPlacement-PlayerBoard {
  background: rgb(107, 103, 103);
}
.player.ship32, .shipPlacement-PlayerBoard {
  background: rgb(107, 103, 103);
}
.player.ship4, .shipPlacement-PlayerBoard {
  background: rgb(107, 103, 103);
}
.player.ship5, .shipPlacement-PlayerBoard {
  background: rgb(107, 103, 103);
}

.hit {
  animation: boom .2s ease-out forwards;
}

.hitfull {
  animation: boomfull .2s ease-out forwards;
}

@keyframes boom {
  0% {
    background-color: rgb(107, 103, 103);
  }

  100% {
    background-color: rgb(225, 19, 19);
  }
}

@keyframes boomfull {
  0% {
    background-color: rgb(225, 19, 19);
  }

  100% {
    background-color: rgb(0, 0, 0);
  }
}

.miss {
  background: white;
}

.otherConnectedStatus {
  text-decoration: line-through;
}

.joinRoom {
  display: none;
}

.joinRoom.playersjoined0 {
  display: flex;
}

.otherConnectedStatus.three3 {
  text-decoration: none;
}


.playerTurn{
  position: relative;
  color: #ffffff;
  /* font-family: Copperplate, Papyrus, fantasy; */
  font-size: 35px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
  text-shadow: horizontal-offset vertical-offset blur color;
}

