.board {
  width: 400px;
  height: 400px;
  border: 2px solid black;
  margin: 1em 2em 2em 1em;
  display: flex;
  flex-wrap: wrap;
  margin: auto;

}

row {
display: flex;
margin: auto;
padding-bottom: 10px;
}

column {
flex:50%;
margin: auto
}

.square {
  width: 25%;
  height: 25%;
  box-sizing: border-box;
  background: skyblue;
  border: 1px solid black;
  cursor: crosshair;
  transition: background-color 100ms ease-in-out;
}

.ship1 {
  background: red;
}
.ship2 {
  background: red;
}
.ship3 {
  background: red;
}
.ship4 {
  background: red;
}

.hit {
  animation: boom .2s ease-out forwards;
}

@keyframes boom {
  0% {
    background-color: red;
  }

  100% {
    background-color: peru;
  }
}

.miss {
  background: white;
}
