.board {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  /* margin: 1em 2em 2em 1em; */
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background: rgba(255, 255, 255, 0.396);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 50%);
  scroll-snap-align: start;
  transition: all 0.2s;
  padding: 15px;
}



.board:hover {
color: var(--white);
background: var(--orange);
}

row {
display: flex;
margin: auto;
padding-bottom: 10px;
}

column {
flex:50%;
margin: auto
}

.square {
  width: 14.28%;
  height: 14.28%;
  box-sizing: border-box;
  background: skyblue;
  border: 1px solid black;
  cursor: crosshair;
  transition: background-color 100ms ease-in-out;
}

.square:hover{
  background: rgba(95, 146, 166, 0.474);
}

.player.ship2 {
  background: rgb(107, 103, 103);
}
.player.ship31 {
  background: rgb(107, 103, 103);
}
.player.ship32 {
  background: rgb(107, 103, 103);
}
.player.ship4 {
  background: rgb(107, 103, 103);
}
.player.ship5 {
  background: rgb(107, 103, 103);
}

.hit {
  animation: boom .2s ease-out forwards;
}

.hitfull {
  animation: boomfull .2s ease-out forwards;
}

@keyframes boom {
  0% {
    background-color: rgb(107, 103, 103);
  }

  100% {
    background-color: rgb(225, 19, 19);
  }
}

@keyframes boomfull {
  0% {
    background-color: rgb(225, 19, 19);
  }

  50% {
    background-color: rgb(225, 167, 19);
  }

  100% {
    background-color: rgb(0, 0, 0);
  }
}

.miss {
  background: white;
}

.otherConnectedStatus {
  text-decoration: line-through;
}

.joinRoom {
  display: none;
}

.joinRoom.playersjoined0 {
  display: flex;
}

.otherConnectedStatus.three3 {
  text-decoration: none;
}