.board {
  width: 400px;
  height: 400px;
  border: 2px solid black;
  margin: 1em 2em 2em 1em;
  display: flex;
  flex-wrap: wrap;
  margin: auto;

}

row {
display: flex;
margin: auto;
padding-bottom: 10px;
}

column {
flex:50%;
margin: auto
}

.square {
  width: 14.28%;
  height: 14.28%;
  box-sizing: border-box;
  background: skyblue;
  border: 1px solid black;
  cursor: crosshair;
  transition: background-color 100ms ease-in-out;
}

.ship2 {
  background: rgb(107, 103, 103);
}
.ship31 {
  background: rgb(107, 103, 103);
}
.ship32 {
  background: rgb(107, 103, 103);
}
.ship4 {
  background: rgb(107, 103, 103);
}
.ship5 {
  background: rgb(107, 103, 103);
}

.hit {
  animation: boom .2s ease-out forwards;
}

@keyframes boom {
  0% {
    background-color: rgb(107, 103, 103);
  }

  100% {
    background-color: rgb(225, 19, 19);
  }
}

.miss {
  background: white;
}

.otherConnectedStatus {
  text-decoration: line-through;
}

.joinRoom {
  display: none;
}

.joinRoom.playersjoined0 {
  display: flex;
}

.otherConnectedStatus.three3 {
  text-decoration: none;
}